
<div class="fondo">

    <div class="formulario row justify-content-center rounded" >
        <div>
            <p>Pasos 1 de 2</p>
        </div>
        <h1 class="text-center">Registro usuario</h1>
      
        <div>    
            <form [formGroup]="siginForm" (ngSubmit)="addUser()" class="row justify-content-center">    
                <!-- Email -->
                <div class="col-12">
                    <label for="email">Email</label>
                    <input type="email" [formControl]="email" class="form-control" placeholder="User E-mail">
                    <span style="color: red;" *ngIf="siginForm.get('email')?.errors && (siginForm.get('email')?.touched || siginForm.get('email')?.dirty)">
                        <span *ngIf="siginForm.get('email')?.errors?.required">Email is required</span> 
                        <span *ngIf="siginForm.get('email')?.errors?.email">Email doesn't have a correct format</span>   
                    </span>
                 </div>
                <!-- Password -->
                <div class="col-12">
                    <label for="password">Contraseña</label>
                    <input type="password" [formControl]="password" class="form-control" placeholder="User Password">
                    <span style="color: red;" *ngIf="siginForm.get('password')?.errors && (siginForm.get('password')?.touched || siginForm.get('password')?.dirty)">
                        <span *ngIf="siginForm.get('password')?.errors?.required">User pwd is required</span>    
                    </span>
                </div>
                <div class="col-12">
                    <label for="password_confirmation">Repite Contraseña</label>
                    <input type="password_confirmation" [formControl]="password_confirmation" class="form-control" placeholder="Repite contraseña">
                    <span style="color: red;" *ngIf="siginForm.get('password_confirmation')?.errors && (siginForm.get('password_confirmation')?.touched || siginForm.get('password_confirmation')?.dirty)">
                        <span *ngIf="siginForm.get('password_confirmation')?.errors?.required">User pwd is required</span>    
                    </span>
                </div>

                <div class="col-12 row justify-content-center" style="padding: 0;">
                    <label class="col-12" >Que tipo de usuario eres</label>
                    <div class="col-md-6 usertype" >
                        <p>Protectora</p>
                        <img (click)="isProtectora()" class="rounded"  [ngClass] = "protectora? 'select' : 'noselect'" src="../../../../assets/imagenes/refugio.jpg">
                    </div>
                    <div class="col-md-6 usertype" >
                        <p >Particular</p>
                        <img (click)="isParticular()" class="rounded" [ngClass] = "!protectora ? 'select' : 'noselect'" src="../../../../assets/imagenes/Gato.jpg">
                    </div>
                </div>

                <div class="col-12 justify-content-center row botones">
                    <button class="btn btn-primary my-4" type="submit" [disabled]="!siginForm.valid">Siguiente</button>  
                    <button class="btn btn-secondary my-4" type="submit" >Cancelar</button>
                </div>

            </form>    
        </div> 
    </div>

</div>