
<div class="fondo">

    <div class="formulario row justify-content-center rounded" >
        <div>
            <p>Pasos 2 de 2</p>
        </div>
        <h1 class="text-center">Registro usuario</h1>
      
        <div>    
            <form [formGroup]="particularForm" (ngSubmit)="addParticular()" class="row justify-content-center">    
                <!-- nombre -->
                <div class="col-12">
                    <label for="nombre">Nombre</label>
                    <input type="text" [formControl]="nombre" class="form-control" placeholder="Nombre">
                    <span style="color: red;" *ngIf="particularForm.get('nombre')?.errors && (particularForm.get('nombre')?.touched || particularForm.get('nombre')?.dirty)">
                        <span *ngIf="particularForm.get('nombre')?.errors?.required">nombre is required</span> 
                    </span>
                 </div>

                 <div class="col-12">
                    <label for="apellido">Apellido</label>
                    <input type="text" [formControl]="apellido" class="form-control" placeholder="Apellido">
                    <span style="color: red;" *ngIf="particularForm.get('apellido')?.errors && (particularForm.get('apellido')?.touched || particularForm.get('apellido')?.dirty)">
                        <span *ngIf="particularForm.get('apellido')?.errors?.required">apellido is required</span> 
                    </span>
                 </div>
                 
                 <div class="">
                    <label for="imagen" class="form-label" >Imagen</label>
                    <input class="form-control" type="file" id="imagen" [formControl]="imagen" (change)="onFileChange($event)">
                </div>


                <div class="col-12">
                    <label for="telefono">Telefono</label>
                    <input type="text" [formControl]="telefono" class="form-control" placeholder="Telefono">
                    <span style="color: red;" *ngIf="particularForm.get('telefono')?.errors && (particularForm.get('telefono')?.touched || particularForm.get('telefono')?.dirty)">
                        <span *ngIf="particularForm.get('telefono')?.errors?.required">telefono is required</span> 
                    </span>
                </div>
                
                <div class="col-12">
                    <label for="pais" class="form-label" >Pais</label>
                    <input type="text" class="form-control" id="pais"  type="text" [formControl]="pais" placeholder="pais" required>
                    <span style="color: red;" *ngIf="particularForm.get('pais')?.errors && (particularForm.get('pais')?.touched || particularForm.get('pais')?.dirty)">
                        <span *ngIf="particularForm.get('pais')?.errors?.required">Campo obligatorio</span> 
                    </span>
                </div>
            
                <div class="col-12">
                    <label for="ciudad" class="form-label" >Ciudad</label>
                    <input type="text" class="form-control" id="ciudad"  type="text" [formControl]="ciudad" placeholder="ciudad" required>
                    <span style="color: red;" *ngIf="particularForm.get('ciudad')?.errors && (particularForm.get('ciudad')?.touched || particularForm.get('ciudad')?.dirty)">
                        <span *ngIf="particularForm.get('ciudad')?.errors?.required">Campo obligatorio</span> 
                    </span>
                </div>
            
                <div class="col-12">
                    <label for="provincia" class="form-label" >Provincia</label>
                    <input type="text" class="form-control" id="provincia"  type="text" [formControl]="provincia" placeholder="provincia" required>
                    <span style="color: red;" *ngIf="particularForm.get('provincia')?.errors && (particularForm.get('provincia')?.touched || particularForm.get('provincia')?.dirty)">
                        <span *ngIf="particularForm.get('provincia')?.errors?.required">Campo obligatorio</span> 
                    </span>
                </div>
            
                


                <div class="col-12 justify-content-center row botones">
                    <button class="btn btn-primary my-4" type="submit" [disabled]="!particularForm.valid">Registrar</button>  
                    <button class="btn btn-secondary my-4" type="submit" >Cancelar</button>
                </div>

            </form>    
        </div> 
    </div>

</div>