.formulario {
  width: 40%;
  margin-top: 5%;
  padding: 2%;
}

h1 {
  margin-bottom: 5%;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: #f28a24;
}

button {
  width: 30%;
}

.btn-primary {
  background-color: #f28a24 !important;
  border-color: #f28a24 !important ;
}

.registrarse p,
.registrarse a {
  text-align: center;
}

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
}

form div {
  margin-top: 2%;
}

.botones {
  margin-top: 15% !important;
}

button {
  width: 100%;
  margin-top: 0 !important;
}

.error {
  border-color: #e94649 !important ;
  background-color: #f8d2d2;
}
@media (max-width: 768px) {
  .formulario {
    width: 90%;
  }
}
