
<div class="container" style="margin-top: 3%;">
  <div class="filtro">
    
  </div>

  <div>
    <h1>Protectoras</h1>
    <p>{{protectoras.length}} protectoras</p>

    <div class="list list_animales d-flex flex-wrap" style=" gap: 12px;">
      <div class="card" style="width: 18rem;" *ngFor="let protectora of protectoras" [routerLink]="['/protectora', protectora.id]">
   
        <div class="card-body">
          <h5 class="card-title">{{protectora.nombre}}</h5>
          <p class="card-text">{{protectora.pais}}, {{protectora.ciudad}}</p>
          <a href="#" class="btn btn-primary" *ngIf="islogin && !isProtectora">Favorito</a>
        </div>
        <img src="../../../../assets/imagenes/refugio.jpg" class="card-img-buton" alt="...">
       
      </div>
    </div>


  </div>


  
</div>