<div class="menu__user">

  <ul class="navbar ">
    <div class="container-fluid d-flex justify-content-between">
     
    <a  href="#" routerLink='portada' class="navbar-brand" >
      <img src="../../../../assets/imagenes/logo_complet.png">
    </a>
    <div>
      <ul>
        <li class="nav-item" *ngIf="!islogin">
          <a class="nav-link" href="#" routerLink='login'>Login</a>
        </li>
        <li class="nav-item dropdown dropdown-menu-lg-end"  *ngIf="islogin">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">
            <i></i> {{name}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  *ngIf="isProtectora" routerLink='profile'>Perfil</a></li>
            <li><a class="dropdown-item"  *ngIf="!isProtectora" routerLink='particular/profile'>Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="signOut()">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    
      
    </div>
  </ul>


</div>

<div class="menu__components">


<nav class="navbar navbar-expand-lg navbar-light bg-light menucompleto">
    <div class="container-fluid menu">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dropdownmenu" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"href="#" routerLink='animales/list'>Animales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink='protectoras/list'>Protectoras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink='voluntariado/list'>Voluntariado</a>
          </li>

          <li class="nav-item" *ngIf="islogin && isProtectora">
            <a class="nav-link" href="#"  routerLinkActive="active" routerLink='misanimales'>Mis animales</a>
          </li>
          <li class="nav-item" *ngIf="islogin && !isProtectora">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink='favoritos'>Favoritos</a>
          </li>
   
        </ul>
      </div>
    </div>
  </nav></div>