<div class="container w-100 portada">
    
<div class="row  h-100 justify-content-center" >

    <div class="col-lg-5">
        <img src="../../../../assets/imagenes/index.jpg">
    </div>
     
    <div class="col-lg-7 row justify-content-center texto__adoptar">
        <div class="align-self-center row">
            <p class="text-center">Adopta!, dale un <span>Refugio</span></p>
            <p class="text-center">Sitio web para darle un hogar a un animal</p>
        </div>
        <div class=" align-self-center adoptar rounded" >
            <a href="#" routerLink='/animales/list' class="text-center">
                <div >  
                    Quiero adoptar!
                </div>
            </a>
        </div>
    </div>

</div>

</div>