@font-face {
  font-family: "lato";
  src: url("../../../../assets/fonts/Lato-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lato-bold";
  src: url("../../../../assets/fonts/Lato-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: #f28a24;
}

.ciudad {
  font-size: 12px;
}

.urgente {
  background-color: #e94649;
  color: #f0f2e8;
  font-weight: bold;
}

.adopcion {
  background-color: #7b8676;
  color: #f0f2e8;
  font-weight: bold;
}

.acogida {
  background-color: #f8b36c;
  font-weight: bold;
}
